<div class="row">
    <div class="col-12 col-md-6">
        <div class="input-group mb-3">
            <input type="text" class="form-control" 
                    placeholder="keyword" aria-label="keyword" 
                    aria-describedby="addKeyword"
                    [(ngModel)]="keyword" name="keyword" required
                    (input)="keyword = keyword.toLowerCase()"
                    autocomplete="off">
            <button class="btn btn-primary" type="button" id="addKeyword" (click)="addKeyword()">Add</button>
          </div>
    </div>
</div>