<h1>Keyword Ranking</h1>
<div class="row">
  <div class="col-9">
    <app-add-keyword (keywordAdded)="keywordAdded($event)"></app-add-keyword>
  </div>
  <div class="col-3 text-end">
    <span *ngIf="showRefreshAllAlert" class="text-success pe-3 pt-3">{{ refreshText }}</span>
    <input type="button" class="btn btn-primary btn-sm" value="Refresh All" (click)="refreshAll()">
  </div>
</div>

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Keyword</th>
        <th class="position" scope="col">Rank</th>
        <th class="link"></th>
        <th class="updated" scope="col">Updated</th>
      </tr>
    </thead>
    <tbody>
        @for (keywordRank of keywords; track $index) {
            <tr>
                <td>{{ keywordRank.keyword }}</td>
                <td class="position">{{ keywordRank.rank }}</td>
                <td class="link"><a href="#"><i class="bi bi-graph-up"></i></a></td>
                <td class="updated">{{ keywordRank.dateUpdated | date:'d MMM, h:mm a' }} <a href="#"><i class="bi bi-arrow-repeat"></i></a></td>
              </tr>
        }
    </tbody>
</table>